.shelf-container {
    margin-bottom: 69px;

    @media (max-width: 768px) {
        margin-bottom: 40px;
    }
    
    .shelf-title {
        font-size: 20px;
        font-weight: 900;
        width: fit-content;
        margin: 25px 0 20px 0;
        line-height: 27px;

        @media (max-width: 768px) {
            margin-top: 15px;
            font-size: 18px;
        }

        div {
            height: 4.3px;
            width: 45%;
            background: #C0C0C0;
        }
    }
    
    .shelf-slider-container {
        margin: 0 -50px;

        @media (max-width: 768px) {
            margin: 0 -10px;
        }

        .slick-arrow {
            width: 13px;
            height: 22px;
            z-index: 99;

            &:before {
                display: none;
            }
        }

        .slick-prev {
            background: url(../../img/arrow-prev.png);
            left: 10px;
        }

        .slick-next {
            background: url(../../img/arrow-next.png);
            right: 10px;
        }

        @media (max-width: 768px) {
            .slick-slide>div {
                padding: 0 12px;
            }
    
            .slick-list {
                margin: 0 -12px;
            }
        }

        .shelf-item {
            margin: 0 50px;
            width: fit-content !important;
            transition: .3s;
            cursor: pointer;

            @media (max-width: 768px) {
                margin: 0;
                width: 100% !important;
            }

            .product-image-box {
                position: relative;

                @media (max-width: 768px) {
                    img {
                        max-width: 100%;
                    }
                }

                .promotion-flag {
                    width: 81px;
                    height: 72px;
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: url(../../img/promotion-flag.png);

                    @media (max-width: 768px) {
                        width: 50.4px;
                        height: 44.54px;
                        background-size: contain;
                    }
                }
            }

            .product-name-box {
                .product-name {
                    font-size: 12px;
                    font-weight: 600;
                    color: #7A7A7A;
                    margin: 0;
                    margin-top: 6px;
                    text-align: center;
                    margin-bottom: 8px;
                }
            }

            .product-stars-box {
                display: flex;
                justify-content: center;
                margin-bottom: 7px;

                i {
                    width: 11.39px;
                    height: 10px;
                    display: inline-block;
                    margin: 0 1.3px;

                    &.star-icon-active {
                        background: url(../../img/star-icon-active.png) no-repeat;
                    }

                    &.star-icon {
                        background: url(../../img/star-icon.png) no-repeat;
                    }
                }
            }

            .product-list-price {
                width: 100%;
                height: 14px;

                p {
                    font-size: 12px;
                    color: #7A7A7A;
                    margin: 0;
                    text-align: center;
                }
            }

            .product-price {
                p {
                    font-size: 18px;
                    font-weight: 700;
                    color: #000;
                    margin: 0;
                    text-align: center;
                    line-height: 24.5px;
                    margin-top: 5px;
                }
            }

            .product-installments {
                height: 12px;
                width: 100%;

                p {
                    font-size: 11px;
                    color: #7A7A7A;
                    margin: 0;
                    margin-top: 2px;
                    text-align: center;
                }
            }

            .product-buy-btn-box {
                display: flex;
                justify-content: center;

                button {
                    margin-top: 8px;
                    background: #000000;
                    width: 125px;
                    height: 32px;
                    border-radius: 5px;
                    border: none;
                    font-size: 12px;
                    font-weight: 700;
                    color: #FFFFFF;
                    opacity: 0;
                    transition: .3s;
                    margin-bottom: 15px;
                    cursor: pointer;

                    &:hover {
                        background: #3f3f3f;
                    }

                    @media (max-width: 768px) {
                        opacity: 1;
                        width: 140px;
                        height: 36px;
                        font-size: 15px;
                    }
                }
            }

            @media (min-width: 768px) {
                &:hover {
                    background: #E6E8EA;
    
                    button {
                        opacity: 1;
                    }
                }
            }
        }

        .slick-dots {
            bottom: 10px;

            li {
                width: 7px;
                height: 7px;
                background: #BDBDBD;
                border-radius: 100%;
                margin: 0 4.5px;

                &.slick-active {
                    background: #F8475F;
                }

                button {
                    &:before {
                        display: none;
                    }
                }
            }
        }
    }
}