@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

.container {
  max-width: 1172px;
  margin: 0 auto;

  @media (max-width: 768px) {
      margin: 0 20px;
  }
}

.header-box {
  display: flex;
  justify-content: space-between;
  padding: 16px 0 24px 0;

  .header-block-right {
    width: 75%;
    display: flex;
    align-items: center;
    gap: 21px;

    .block-form {
        position: relative;
        width: 70%;
        display: flex;
        align-items: center;
        margin-right: 23px;

        input {
            font-size: 13px;
            border: none;
            border-bottom: 1px solid #7a7a7a;
            padding-bottom: 7px;
            width: 100%;
            transition: .3s;

            &:focus {
                outline: none;
                border-bottom: 1px solid #00e2eb;
            }
        }

        button {
            position: absolute;
            right: 0;
            background: url(../../img/search-icon.png) no-repeat;
            border: none;
            width: 18px;
            height: 18px;
            padding: 0;
            cursor: pointer;
        }
    }

    .my-account-header {
        a {
            display: flex;
            align-items: center;
            text-decoration: none;

            .person-icon {
                display: inline-block;
                width: 18px;
                height: 18px;
                background-image: url(../../img/person-icon.png);
                margin-right: 5px;
            }

            p {
                font-size: 13px;
                margin: 0;
                color: #7A7A7A;
            }
        }
    }

    .cart-icon-box {
        display: flex;
        align-items: center;
        cursor: pointer;

        .cart-icon {
            width: 18px;
            height: 18px;
            display: inline-block;
            background: url(../../img/cart-icon.png);
            margin-right: 5px;
        }

        p {
            margin: 0;
            font-size: 10px;
            font-weight: 700;
            color: #fff;
            width: 14px;
            height: 14px;
            border-radius: 100%;
            background: #F8475F;
            text-align: center;
        }
    }
  }
}

.top-header-mobile {
    display: flex;
    justify-content: space-between;
    padding: 7px 0 15px 0;

    .menu-box {
        display: flex;
        align-items: center;

        .menu-icon {
            width: 22.5px;
            height: 15.02px;
            background: url(../../img/menu-icon.png);
            display: block;
        }
    }

    .logo-box {
        display: flex;
        align-items: center;

        img {
            max-width: 109px;
        }
    }

    .cart-icon-box {
        display: flex;
        align-items: center;

        i {
            width: 18px;
            height: 18px;
            display: inline-block;
            background: url(../../img/cart-icon.png);
        }

        p {
            font-size: 10px;
            font-weight: 600;
            color: #fff;
            border-radius: 100%;
            width: 14px;
            height: 14px;
            background: #F8475F;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            margin-left: 5px;
        }
    }
}